parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    paths:
        - gutenbricks-archive.php
        - src/
    ignoreErrors:
    scanDirectories:
        - vendor
    bootstrapFiles:
        - constants.php
