parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    paths:
        - gutenbricks-archive.php
        - src/
    excludePaths:
        analyse:
            - src/Integrations/Bricks/Elements/*
    ignoreErrors:
    scanDirectories:
        - vendor
    bootstrapFiles:
        - constants.php
